<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="日月光华搜索">
    <meta name="author" content="If">
    <title>日月光华搜索</title>
  </head>
  <body lang="zh-CN" style="font-family:Microsoft YaHei">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">搜索</a>
        </div>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="text-align:center">
      <div class="container">
        <h1 style="font-family:Microsoft YaHei">日月光华</h1>
        <p>
        <form action="/" method="get">
        <p><input type="search" class="form-control input-lg" name="query" value="<%=params[:query]=%>"></p>
        <p><button type="submit" class="btn btn-primary btn-lg">搜索</button></p>
        </form>
        </p>
      </div>
    </div>
    </div> <!-- /container -->

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      <% @docs.each do |doc| %>
        <div class="col-md-12">
          <p><%= doc["content"] =%></p>
          <p><a class="btn btn-default" href= <%= doc["url"] =%> role="button">原帖 &raquo;</a></p>
        </div>
      <% end %>
      </div>

      <hr>

      <footer>
        <p>&copy; <a href="http://admis.fudan.edu.cn/~yfhuang">If</a></p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
